<!DOCTYPE html>
<script src="hash.js"></script>

<template id="hash.tpl.html">
  <div layout='row'>

    <md-select ng-model="data.algorithm" placeholder="Algorithm">
      <md-option ng-repeat="alg in algorithms" ng-value="alg">{{alg}}</md-option>
    </md-select>
    <md-input-container>
      <label>Text</label>
      <input ng-model="data.text">
    </md-input-container>

    <md-button class="md-primary" ng-click="submit()" ng-disabled="!data.algorithm || !data.text || working">Submit</md-button>
  </div>

  <div ng-show="hashvalue">
    <h3>Hash Value</h3>
    {{hashvalue}}
  </div>
  <span flex></span>
  <a href="{{docUrl}}" target="_blank">{{docLabel}} documentation</a>
</template>