<!DOCTYPE html>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-touch.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
<script src="lib/feedhenry.js"></script>
<script src="lib/angular-import.js"></script>

<link rel="stylesheet" href="app.css">
<script src="app.js"></script>

<template id="app.tpl.html">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="nav" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar>
      <h1 class="md-toolbar-tools" ui-sref="app" ui-sref-opts="{reload: true}">FeedHenry Toolbox</h1>
    </md-toolbar>
    <md-content ui-view="nav">
      <!-- 
        Just use links until angular material completes menu lists
        See https://github.com/angular/material/issues/985
      -->
      <ul ng-repeat="(sec, section) in navLinks">
        <li>{{sec}}</li>
        <ul style="list-style: none;">
          <li ng-repeat="(key, link) in section">
            <a ui-sref="{{link}}" ng-click="toggleNav()">{{key}}</a>
          </li>
        </ul>
      </ul>
    </md-content>
  </md-sidenav>

  <div layout="column" flex>
    <md-toolbar>
      <div class="md-toolbar-tools" ng-click="toggleNav()" hide-gt-md>
        <md-button style="margin-right: 15px" aria-label="Open Menu" hide-gt-md>
          <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        
        <div layout="row" flex>
          <div class="md-toolbar-item md-breadcrumb">
            <span class="md-breadcrumb-page">FeedHenry Toolbox</span>
          </div>
        </div>
      </div>
    </md-toolbar>
    <md-content flex  class="md-padding"  layout="column">
      <div layout-fill>
        <div ng-if="docLabel">
          <a href="{{docUrl}}" target="_blank" style="float:right" ng-if="docUrl">documentation</a>
          <h3>{{docLabel}}</h3>
        </div>
        <div layout-fill md-scroll-y ui-view="main">
          <h3>Welcome to the toolbox app</h3>
          <p>Select a tool from the menu to see it in action.</p>
        </div>
      </div>
      
    </md-content>
  </div>
</template>

<link rel="import" href="client/client.html">
<link rel="import" href="cloud/cloud.html">